<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<p th:utext="'Name: ' + ${user.getName()}">VALUE</p>
<p th:utext="'LastName: ' + ${user.getLastName()}">VALUE</p>
<p th:utext="'Age: ' + ${user.getAge()}">VALUE</p>
<p th:utext="'Roles: ' + ${user.getRoles()}">VALUE</p>

<a th:href="@{/admin/edit/{id}(id=${user.getId()})}">
    <button>Edit user</button>
</a>
<br><br>
<form th:method="DELETE" th:action="@{/admin/delete/{id}(id=${user.getId()})}">
    <input type="submit" value="Delete"/>
</form>
<form style="text-align: center" th:action="@{/logout}">
    <button>Logout!</button>
</form>
<br>
<a href="/admin"><button>Show all users</button>
</a>
</body>
</html>